=begin
#Docker HUB API

#Docker Hub is a service provided by Docker for finding and sharing container images with your team.  It is the world's largest library and community for container images.  In addition to the [Docker Hub UI](https://docs.docker.com/docker-hub/) and [Docker Hub CLI tool](https://github.com/docker/hub-tool#readme) (currently experimental), Docker provides an API that allows you to interact with Docker Hub.  Browse through the Docker Hub API documentation to explore the supported endpoints. 

The version of the OpenAPI document: 2-beta

Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module DockerHubClient
  class RepositoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1.
    # @option opts [Integer] :page_size Number of items to get per page. Defaults to 10. Max of 100.
    # @return [PaginatedTags]
    def v2_namespaces_namespace_repositories_repository_tags_get(namespace, repository, opts = {})
      data, _status_code, _headers = v2_namespaces_namespace_repositories_repository_tags_get_with_http_info(namespace, repository, opts)
      data
    end

    # List repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get. Defaults to 1.
    # @option opts [Integer] :page_size Number of items to get per page. Defaults to 10. Max of 100.
    # @return [Array<(PaginatedTags, Integer, Hash)>] PaginatedTags data, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_get_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_get ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_get"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_get"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTags'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_namespaces_namespace_repositories_repository_tags_head(namespace, repository, opts = {})
      v2_namespaces_namespace_repositories_repository_tags_head_with_http_info(namespace, repository, opts)
      nil
    end

    # Check repository tags
    # @param namespace [String] 
    # @param repository [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_head_with_http_info(namespace, repository, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Tag]
    def v2_namespaces_namespace_repositories_repository_tags_tag_get(namespace, repository, tag, opts = {})
      data, _status_code, _headers = v2_namespaces_namespace_repositories_repository_tags_tag_get_with_http_info(namespace, repository, tag, opts)
      data
    end

    # Read repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tag, Integer, Hash)>] Tag data, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_tag_get_with_http_info(namespace, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_get ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_get"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_get"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_get"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s)).sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Tag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_tag_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_namespaces_namespace_repositories_repository_tags_tag_head(namespace, repository, tag, opts = {})
      v2_namespaces_namespace_repositories_repository_tags_tag_head_with_http_info(namespace, repository, tag, opts)
      nil
    end

    # Check repository tag
    # @param namespace [String] 
    # @param repository [String] 
    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_namespaces_namespace_repositories_repository_tags_tag_head_with_http_info(namespace, repository, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # verify the required parameter 'repository' is set
      if @api_client.config.client_side_validation && repository.nil?
        fail ArgumentError, "Missing the required parameter 'repository' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head"
      end
      # resource path
      local_var_path = '/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}'.sub('{' + 'namespace' + '}', CGI.escape(namespace.to_s)).sub('{' + 'repository' + '}', CGI.escape(repository.to_s)).sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RepositoriesApi.v2_namespaces_namespace_repositories_repository_tags_tag_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RepositoriesApi#v2_namespaces_namespace_repositories_repository_tags_tag_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
